<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Create Shot URL</h2>
    <form action="/url/" method="post">
      <label>Enter URL</label>
      <input type="text" name="main_url" , placeholder="abc@example.com" />
      <label></label>
      <!-- <input type="text" name="password" , placeholder="password" /> -->
      <button type="submit">Create URL</button>
    </form>
  </body>
</html>
